![imagen](./img/ejercicios.png)

# INFORMACIÓN DEL PROYECTO

### TÍTULO

In [1]:
#Escribe el título del proyecto en Markdown
titulo = "Analizando juegos de prodecencia Japonesa"

### TEMA

In [2]:
# Describe brevemente el tema del proyecto en Markdown
tema = "La introduccion de sagas y juegos de oriente donde destacan por su dificultad, analizando su salida, los picos que tengan y como han retenido jugadores a largo del tiempo."

### HIPÓTESIS

Define aquí lo que será la hipótesis de tu proyecto.
Deberás tener más de una, pero tu proyecto lo harás teniendo una principal hipótesis.

In [3]:
# Escribe tu hipótesis principal en Markdown
hipotesis_1 = "Si se mantienen en un margen casual, el juego se puede mantener bien en el tiempo y ser popular."

In [4]:
# Escribe más hipótesis si las hubiera en Markdown
# hipotesis_2 = "se vende mas a las mujeres que a los hombres"
# hipotesis_3 = "El contenido hardcore no progresa bien en el tiempo."
# hipotesis_4 = "Se puede sacar contenido que no pida la comunidad, pero sera bien recibido si es bueno."
# hipotesis_5 = "Aun con un lanzamiento pesimo, el juego puede mejorar"
# ...

## OBTENCIÓN DE LOS DATOS

### DATASETS Y FUENTES ALTERNATIVAS DE DATOS

Incluye aquí una vista del dataset o datasets de los que partirás para poder evaluar tu hipótesis. <br>
También incluye el origen de estos datos y su fuente.

In [5]:
import pandas as pd
# Faltaria una, que es desde otra api de Steam, por el momento solo dejo la source
df_1 = pd.read_csv("../../proyecto analisis de datos/\codigo/base de datos/Video_Games_Sales_as_at_22_Dec_2016.csv")
fuente_1 = "Kaggle: https://www.kaggle.com/datasets/gregorut/videogamesales"
df_2 = pd.read_json("../../proyecto analisis de datos/codigo/steam api/Lost Ark.json")
fuente_2 = "API de Steamworks"
df_3 = pd.read_csv("../../proyecto analisis de datos/codigo/STEAMDB/chart_jugadores.csv",sep=";")
fuente_3 = "https://steamdb.info/app/582010/charts/"
df_4 = pd.read_csv("../../proyecto analisis de datos/codigo/STEAMDB/chart_LA_jugadores.csv",sep=";")
fuente_4 = "https://steamdb.info/app/1599340/charts/"
# df_5 = pd.DataFrame()
# fuente_5 = ""
# ...
#por el momento dejo estas, ya que algunas no estan aun o tengo que encontrarlo.

Muestra mediante un head() los principales datasets con los que vas a trabajar

In [11]:
# Primer dataset
df_1.head() #VENTAS EN MILLONES

,Name,Platform,Year_of_Release,Genre,Publisher,NA_Sales,EU_Sales,JP_Sales,Other_Sales,Global_Sales,Critic_Score,Critic_Count,User_Score,User_Count,Developer,Rating
0,Wii Sports,Wii,2006.0,Sports,Nintendo,41.36,28.96,3.77,8.45,82.53,76.0,51.0,8,322.0,Nintendo,E
1,Super Mario Bros.,NES,1985.0,Platform,Nintendo,29.08,3.58,6.81,0.77,40.24,NaN,NaN,NaN,NaN,NaN,NaN
2,Mario Kart Wii,Wii,2008.0,Racing,Nintendo,15.68,12.76,3.79,3.29,35.52,82.0,73.0,8.3,709.0,Nintendo,E
3,Wii Sports Resort,Wii,2009.0,Sports,Nintendo,15.61,10.93,3.28,2.95,32.77,80.0,73.0,8,192.0,Nintendo,E
4,Pokemon Red/Pokemon Blue,GB,1996.0,Role-Playing,Nintendo,11.27,8.89,10.22,1.00,31.37,NaN,NaN,NaN,NaN,NaN,NaN

In [7]:
# Falta manipularla y tal, pero tengo info del juego, vere si puedo sacar otra cosa.
df_2.head()

                success                                               data
about_the_game     True  Embark on an odyssey for the Lost Ark in a vas...
achievements       True  {'total': 156, 'highlighted': [{'name': 'We're...
background         True  https://cdn.akamai.steamstatic.com/steam/apps/...
background_raw     True  https://cdn.akamai.steamstatic.com/steam/apps/...
capsule_image      True  https://cdn.akamai.steamstatic.com/steam/apps/...

In [12]:
df_3.head() #ignorar, habria que limpiar los primeros dias, empezaria sobre el 18/08 del 2018

              DateTime  Players
0  2017-08-14 00:00:00      3.0
1  2017-08-15 00:00:00      3.0
2  2017-08-16 00:00:00      5.0
3  2017-08-17 00:00:00      5.0
4  2017-08-18 00:00:00      4.0

In [13]:
df_4.head()

              DateTime  Players  Flags
0  2021-06-11 00:00:00   6672.0    NaN
1  2021-06-12 00:00:00  14699.0    NaN
2  2021-06-13 00:00:00  15774.0    NaN
3  2021-06-14 00:00:00  10997.0    NaN
4  2021-06-15 00:00:00   8282.0    NaN